body {
    background-color: #cccac9;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#footer {
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    height: 75px;
    background-color: #3477eb;
    color: white;
    text-align: center;
    line-height: 0.75;
}

a:link {
    color: white;
    background-color: transparent;
}

#fact-container {
    margin-top: 20px;
}

#greeting-container {
  margin-top: 20px;
}
